{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AITMS | Integrated Degree Program</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">



  <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/assets/css/main.css' %}" rel="stylesheet">



  <!-- Add this in the <head> section of your HTML -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body class="page-index">

  <div class="mega-icon">
    <i class="fa fa-envelope my-float1"></i>
  </div>
  <div class="icons-wrapper">
    <a class="call-picker" href="tel:+919539565055" target="_blank">
      <i class="fa fa-phone"></i>
    </a>
    <a class="whats-app" href="https://wa.me/9539565055" target="_blank">
      <i class="fab fa-whatsapp my-float"></i>
    </a>
  </div>

  <script>
    document.querySelector('.mega-icon').addEventListener('click', function() {
      const iconsWrapper = document.querySelector('.icons-wrapper');
      if (iconsWrapper.style.display === 'block') {
          iconsWrapper.style.display = 'none';
      } else {
          iconsWrapper.style.display = 'block';
      }
    });
  </script>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center" style="font-family: 'Times New Roman', Times, serif;">AITMS</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'home' %}" class="{% block title1 %}{% endblock %}">Home</a></li>
          <li class="dropdown"><a href="{% url 'about_overview' %}" class="{% block title2 %}{% endblock %}"><span>About Us</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{% url 'about_overview' %}">Overview</a></li>
              <li><a href="{% url 'vision_mission' %}">Vision & Mission</a></li>
              <li><a href="{% url 'leadershipteam' %}">Leadership Team</a></li>
              <li><a href="{% url 'ranking_recognition' %}">Ranking & Recognition</a></li>
              <li><a href="{% url 'collaborations' %}">Collaboration</a></li>
              <li><a href="{% url 'blogs' %}">Blog</a></li>
              <li><a href="{% url 'Social_responsibilities' %}">Social Responsibilities</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="{% url 'admissions_overview' %}" class="{% block title3 %}{% endblock %}"><span>Admissions</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{% url 'admissions_overview' %}">Overview</a></li>
              <li><a href="{% url 'ug_programs' %}">UG Programs</a></li>
              <li><a href="{% url 'pg_programs' %}">PG Programs</a></li>
              <li><a href="{% url 'diploma_programs' %}">Diploma Programs</a></li>
              <li><a href="{% url 'other_short_programs' %}">Other Short Programs</a></li>
              <li><a href="{% url 'scholorship' %}">Scholarships</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="{% url 'career_guidance' %}" class="{% block title4 %}{% endblock %}"><span>Academics</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{% url 'career_guidance' %}">Career Guidance</a></li>
              <li><a href="{% url 'campuses' %}">Campuses</a></li>
              <li><a href="{% url 'learning_methodology' %}">Learning Methodology</a></li>
              <li><a href="{% url 'library_recourse_center' %}">Library & Resource Center</a></li>
              <li><a href="{% url 'allied_departments' %}">Allied Departments</a></li>
              <li><a href="{% url 'sports_recreation' %}">Sports & Recreation</a></li>
              <li><a href="{% url 'hostal_facilities' %}">Hostel facilities</a></li>
              <li><a href="{% url 'industry_visits' %}">Industry Visits</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="{% url 'placements_overview' %}" class="{% block title5 %}{% endblock %}"><span>Placements</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{% url 'placements_overview' %}">Overview</a></li>
              <li><a href="{% url 'placement_training' %}">Placement Training</a></li>
              <li><a href="{% url 'job_fairs_events' %}">Job Fairs & Events</a></li>
              <li><a href="{% url 'current_offers' %}">Current Offers</a></li>
              <li><a href="{% url 'internship_opportunities' %}">Internship Opportunities</a></li>
              <li><a href="{% url 'part_time_opportunities' %}">Part Time Opportunities</a></li>
              <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
            </ul>
          </li>
          <li><a href="{% url 'contact_us' %}" class="{% block title6 %}{% endblock %}">Contact Us</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

{% block content %}{% endblock %}

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="{% url 'home' %}" class="logo d-flex align-items-center">
              <span style="color: #03649b;">AITMS</span>
            </a>
            <p>Are you ready to soar to new heights in your career? Our institute offers cutting-edge programs in aviation, logistics, IT, and e-commerce, designed to prepare you for the dynamic world of technology-driven industries.</p>
            <div class="social-links d-flex  mt-3">
              <a href="https://www.youtube.com/channel/UCQWUWtBCTzTxgUxGKd3FJOQ" class="twitter" target="_blank"><i class="bi bi-youtube"></i></a>
              <a href="https://www.facebook.com/aeroinstituteoftechnology" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/aero_institute_of_technology/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/company/aitmsofficial/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'about_overview' %}">About us</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'admissions_overview' %}">Admissions</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'career_guidance' %}">Academics</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'placements_overview' %}">Placements</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'contact_us' %}">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="{% url 'home' %}#card-section">Aviation</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'home' %}#card-section">Logistics</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'home' %}#card-section">IT Cyber Security</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'home' %}#card-section">Commerce </a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              VIJAYA COMPLEX,  <br>
              CHEMBUMUKKU, EDAPPALLY, ERNAKULAM,<br>
              KERALA, INDIA <br><br>
              <strong>Phone:</strong> +91 95395 65055<br>
              <strong>Email:</strong>  info@aitms.org<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>AITMS</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by<a href="#">AITMS</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer --><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>


  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

</body>

</html>