{% extends 'base.html' %}
{% load static %}

{% block title5 %}active{% endblock %}
{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/assets/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <img src="{% static '/assets/img/aero1.jpg' %}" alt="" height="200" width="350" style="border-radius: 50%;"><br>
      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
          <li>Placements</li>
          <li>Current Offers</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- Contact Section -->
  <section id="contact1" class="contacts" style="background: linear-gradient(#03649b,black);">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6">
          <div class="row text-white">
            <div class="col-lg-12">
              <h4 class="contact-heading-1">WE'RE HIRING!</h4>
              <h2 class="contact-heading-1">Join Our Team</h2>
              <b><h5 class="contact-heading-1">Academic Counselors </h5></b>
            </div>
            <div class="col-lg-12">
              <p class="contact-paragraph"> We are searching for proactive professionals who are passionate about assisting students as they progress through their academic journey, from new student orientation to graduation. Academic advisors will assist students with choosing classes, determining their strengths, selecting majors, and help them work towards careers that fit their talents. To ensure that students are progressing towards their goals, Academic advisors will communicate regularly with students, maintain records of their performance, and intervene if declines in grades or attendance occur.  </p>
              <p class="contact-paragraph"> Locations : Kochi, Kozhikode, Kannur, Tvm </p>
              <p class="contact-paragraph"> If you're interested in one of our open positions, start by applying here and attaching your resume. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="col-lg-12">
            <b><h3 class="contact-heading-1 text-white ">Apply Now</h3></b>
          </div>
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
          {% endif %}
          <form action="{% url 'current_offers' %}" method="post" id="contactForm1" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <div class="form-floating mt-3">
                  <input type="text" name="name1" class="form-control" id="name1" placeholder="Your Name" required>
                  <label for="name1">Name</label>
                  <small id="name-error1" style="color: red; display: none;" class="mt-1">Name should contain only alphabets</small>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-floating mt-3">
                  <input type="email" class="form-control" name="email1" id="email1" placeholder="Your Email" required>
                  <label for="email1">Your Email</label>
                  <small id="email-error1" style="color: red; display: none;" class="mt-1">Please enter a valid email address</small>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-floating mt-3">
                  <input type="tel" class="form-control" name="phone1" id="phone1" placeholder="Your Phone" required>
                  <label for="phone1">Your Phone Number</label>
                  <small id="phone-error1" style="color: red; display: none;" class="mt-1">Please enter a valid 10-digit phone number</small>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-floating mt-3">
                  <textarea class="form-control" name="message1" id="message1" rows="5" placeholder="Message" required></textarea>
                  <label for="message1">Message</label>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-floating mt-3">
                  <input type="file" class="form-control" name="resume1" id="resume1" required>
                  <label for="resume1">Attach Resume</label>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb-3 d-grid gap-2 mt-4">
                  <input type="submit" class="btn btn" name="submit" style="background-color: #03649b;color: white;">
                </div>
              </div>
            </div>
          </form>
          <script>
            document.getElementById('contactForm1').addEventListener('submit', function(event) {
              var nameInput = document.getElementById('name1').value.trim();
              var emailInput = document.getElementById('email1').value.trim();
              var phoneInput = document.getElementById('phone1').value.trim();
              var messageInput = document.getElementById('message1').value.trim();
          
              var nameRegex = /^[a-zA-Z ]+$/;
              var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
              var phoneRegex = /^[0-9]{10}$/;
          
              var valid = true;
          
              if (!nameRegex.test(nameInput)) {
                document.getElementById('name-error1').style.display = 'block';
                valid = false;
              } else {
                document.getElementById('name-error1').style.display = 'none';
              }
          
              if (!emailRegex.test(emailInput)) {
                document.getElementById('email-error1').style.display = 'block';
                valid = false;
              } else {
                document.getElementById('email-error1').style.display = 'none';
              }
          
              if (!phoneRegex.test(phoneInput)) {
                document.getElementById('phone-error1').style.display = 'block';
                valid = false;
              } else {
                document.getElementById('phone-error1').style.display = 'none';
              }
          
              if (!valid) {
                event.preventDefault(); // Prevent form submission
              }
            });
          </script>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->


    <!-- ======= Recent Posts Section ======= -->
    <section id="recent-posts" class="recent-posts" style="background: url(/static/assets/img/contact-bg.png);">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Work in Process</h2>
          </div>
        </div>
      </section><!-- End Recent Posts Section -->

  </main><!-- End #main -->

{% endblock %}