{% extends 'base.html' %}
{% load static %}

{% block title5 %}active{% endblock %}
{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/assets/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <img src="{% static '/assets/img/aero1.jpg' %}" alt="" height="200" width="350" style="border-radius: 50%;"><br>
      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
          <li>Placements</li>
          <li>Part Time Opportunities</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Recent Posts Section ======= -->
    <section id="recent-posts" class="recent-posts" style="background: url(/static/assets/img/contact-bg.png);">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Work in Process</h2>
          </div>
        </div>
      </section><!-- End Recent Posts Section -->

  </main><!-- End #main -->

{% endblock %}