{% extends 'base.html' %}
{% load static %}

{% block title5 %}active{% endblock %}
{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/assets/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <img src="{% static '/assets/img/aero1.jpg' %}" alt="" height="200" width="350" style="border-radius: 50%;"><br>
      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
          <li>Placements</li>
          <li>Testimonials</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- Photo Testimonials Section -->
    <section id="photo-gallery" class="photo-gallery" style="background: url(/static/assets/img/contact-bg.png)">
        <div class="container" >
          <div class="section-header" data-aos="fade-up">
            <h2 style="font-family: 'Times New Roman', Times, serif;color: #03649b;">Placements</h2>
          </div>
          <div class="row" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-12">
              <!-- Carousel -->
              <div id="gallery-carousel" class="carousel slide" data-bs-ride="carousel"  data-bs-interval="1500">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/assets/img/testimonials/t1.webp" class="d-block w-100 rounded" alt="Gallery Image 1">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t2.webp" class="d-block w-100 rounded" alt="Gallery Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t3.webp" class="d-block w-100 rounded" alt="Gallery Image 3">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t4.webp" class="d-block w-100 rounded" alt="Gallery Image 4">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t5.webp" class="d-block w-100 rounded" alt="Gallery Image 5">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t6.webp" class="d-block w-100 rounded" alt="Gallery Image 6">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t7.webp" class="d-block w-100 rounded" alt="Gallery Image 7">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t8.webp" class="d-block w-100 rounded" alt="Gallery Image 8">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t9.webp" class="d-block w-100 rounded" alt="Gallery Image 9">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t10.webp" class="d-block w-100 rounded" alt="Gallery Image 10">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t11.webp" class="d-block w-100 rounded" alt="Gallery Image 11">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t12.webp" class="d-block w-100 rounded" alt="Gallery Image 12">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t13.webp" class="d-block w-100 rounded" alt="Gallery Image 13">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t14.webp" class="d-block w-100 rounded" alt="Gallery Image 14">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t15.webp" class="d-block w-100 rounded" alt="Gallery Image 15">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t16.webp" class="d-block w-100 rounded" alt="Gallery Image 16">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t17.webp" class="d-block w-100 rounded" alt="Gallery Image 17">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t18.webp" class="d-block w-100 rounded" alt="Gallery Image 18">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t19.webp" class="d-block w-100 rounded" alt="Gallery Image 19">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t20.webp" class="d-block w-100 rounded" alt="Gallery Image 20">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t21.webp" class="d-block w-100 rounded" alt="Gallery Image 21">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t22.webp" class="d-block w-100 rounded" alt="Gallery Image 22">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t23.webp" class="d-block w-100 rounded" alt="Gallery Image 23">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t24.webp" class="d-block w-100 rounded" alt="Gallery Image 24">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t25.webp" class="d-block w-100 rounded" alt="Gallery Image 25">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t26.webp" class="d-block w-100 rounded" alt="Gallery Image 26">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t27.webp" class="d-block w-100 rounded" alt="Gallery Image 27">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t28.webp" class="d-block w-100 rounded" alt="Gallery Image 28">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t29.webp" class="d-block w-100 rounded" alt="Gallery Image 29">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t30.webp" class="d-block w-100 rounded" alt="Gallery Image 30">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t31.webp" class="d-block w-100 rounded" alt="Gallery Image 31">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/assets/img/testimonials/t32.webp" class="d-block w-100 rounded" alt="Gallery Image 32">
                  </div>

                  <!-- Add more carousel items as needed -->
                </div>
                <button class="carousel-control-prev "  type="button" data-bs-target="#gallery-carousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#gallery-carousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <!-- End Carousel -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Photo Testimonials Section -->

    
  </main><!-- End #main -->

{% endblock %}